.button {
    /*
    width: 84px;
    height: 20px;
    */

    width: 114px;
    border-radius: 3px;
    padding: 5px 24px;
    border: 1px solid transparent;
    color: white;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.red,
.secondary,
.default,
.disabled{

    width: 154px;
    border-radius: 3px;
    padding: 5px 24px;
    border: 1px solid #1769C9;
    color: white;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

/*.button::before {
    content: "DEFAULT TEXT";
}

.button:hover::before {
    content: "TEXT WHEN HOVER";
}*/

.disabled {
    opacity: 0.3;
}

.disabled::before {
    content: "";
}

.secondary {
    /*background-color: #413e3b;*/
    border: 1px solid #1769C9;
    color: #1769C9;
    /*
    background-color: #E6F0FA;
    */
}

.secondary::before {
    content: ""
}

.default {
    background-color: #1769C9;
}

.default::before {
    content: "";
}

.red {
    background-color: #CC1439;
}
.red::before {
    content:''
}

.red:hover {
    width: 154px;
    border-radius: 3px;
    padding: 5px 24px;

    background-color: #ef5555;
    color: black;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
.secondary:hover {
    width: 154px;
    border-radius: 3px;
    padding: 5px 24px;
    background-color: #71a4ee;
    color: black;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
.default:hover  {
    width: 154px;
    border-radius: 3px;
    padding: 5px 24px;
    background-color: #71a4ee;
    color: black;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
.disabled:hover  {

    width: 154px;
    border-radius: 3px;
    padding: 5px 24px;
    border: 1px solid #1769C9;
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.default:hover::before {
    content: "";

}

.red:hover::before {
    content: "";
}

.secondary:hover::before {
    content: "";
    color: #1769C9;
    background-color: #E6F0FA;
    border-radius: 3px;
    /* padding: 5px 1%;*/

}


.default:active::before {
    content: "";
}

.secondary:active::before {
    content: "";
    border: 1px solid #1769C9;
    color: #1769C9;
    background-color: #E6F0FA;

}

.red:active::before {
    content: "";
}

.button:disabled::before {
    content: "";
}
